@import url("https://fonts.googleapis.com/css?family=Sen&display=swap");

.dropdown {
	position: relative;
}

	.dropdown:hover {
		cursor: pointer !important;
	}

		.dropdown:hover .dropdown_menu li {
			display: block !important;
		}

.dropdown_menu {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	perspective: 1000px;
	z-index: 10000;
}

	.dropdown_menu li {
		display: none;
		background: var(--bg-primary);
		box-shadow: 0 5px 14px -5px var(--bg-secondary);
		opacity: 0;
	}

		.dropdown_menu li:hover {
			transform-origin: top center;
			animation: scaleZ 300ms 60ms ease-in-out forwards, backgroundFading 300ms 0ms ease-in forwards;
		}
			.dropdown_menu li:hover a {
				color: var(--text-color-two) !important;
			}

.dropdown_menu-anim .dropdown_item-1 {
	transform-origin: top center;
	animation: scaleZ 300ms 60ms ease-in-out forwards;
	margin: 0 0rem;
	width: inherit;
	text-align: center;
}

.dropdown_menu-anim .dropdown_item-2 {
	transform-origin: top center;
	animation: scaleZ 300ms 120ms ease-in-out forwards;
	border-radius: 0 0 4px 4px;
	margin: 0 0rem;
	width: inherit;
	text-align: center;
}

@keyframes scaleZ {
	0% {
		opacity: 0;
		transform: scale(0);
	}

	80% {
		transform: scale(1.07);
	}

	100% {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes backgroundFading {
	0% {
		background: var(--bg-primary);
	}

	80% {
		background: var(--bg-secondary);
	}

	100% {
		background: var(--bg-secondary);
	}
}
