/* ?This is where reusable styling of this template will be. 
   !Will contain things like:
   * Button styling
   * Background color styling
   * padding and margin
*/


.container {
  max-width: var(--width-medium);
  margin: 0 auto;
  padding: 1rem 2rem;
}

h1::selection,
h2::selection {
  color: #111;
  background: var(--primary-color);
}

/* Buttons */
.btn {
  display: inline-block;
  padding: 0.75rem 1.9rem;
  border-radius: 30px;
  text-transform: uppercase;
  font-size: 0.82rem;
  transition: 0.3s;
}

.btn-primary {
  background: var(--primary-color);
  color: #000000;
}

.btn-secondary {
  margin: 5px 0;
  background-color: var(--bg-secondary);
  color: var(--bg-primary);
}

/* add hover to resume button */
.btn-primary:hover {
  background: var(--secondary-color);
}

/* Dark mode toggle */
#switch {
  display: none;
}

.toggle-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.toggle-icons > img {
  transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  width: 30px;
}

.moon {
  transform: rotate(10deg);
}

#switch:checked + .toggle-icons .moon {
  transform: rotate(250deg);
}

#switch:checked + .toggle-icons .sun {
  transform: rotate(100deg);
}

/* Header Container */
.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 8rem;
  padding: 1rem;
}

.header-container > div {
  margin-top: 1rem;
}

.content-text {
  text-align: center;
  margin: 1.5rem 0;
}

.main-text {
    margin-bottom: 30px;
    animation: reduce-margin-main-text 7s forwards;
}


.main-text h1 {
    font-size: 3rem;
    line-height: 1.2;
    transition: 0.2s ease-in-out;
}

.content-text h2 {
  font-size: 3rem;
  line-height: 1.2;
  transition: 0.2s ease-in-out;
}

.content-text p {
  padding: 0.5rem;
  margin: 0 auto;
  max-width: 800px;
}

/* Project cards */
.card {
  padding: 1rem;
  background: var(--card-background);
  color: #ffffff;
  border-radius: 5px;
  transition: 0.4s ease-in-out;
  cursor: pointer;
}

.card a {
  color: #ffffff;
  transition: 0.25s ease-in-out;
  font-size: 1.1rem;
  margin-right: 0.3rem;
}

.card a:hover {
  color: var(--primary-color);
}

.card:hover {
  box-shadow: inset 0 100px 1000px 10px rgba(0, 0, 0, 0.8);
}

.card:hover .project-info {
  opacity: 1;
}

/* Project Images */

/* project */
/* VISIOSYS */
div#MCUSYS.card {
    background: url(../assets/projects/no-icon.png) center center/cover;
}

/* NETSYS */
div#NETSYS.card {
    background: url(../assets/projects/no-icon.png) center center/cover;
}

/* VSTT */
div#VSTT.card {
    background: url(../assets/projects/no-icon.png) center center/cover;
}

/* CHECKEAT */
div#CHECKEAT.card {
    background: url(../assets/projects/checkEat.png) center center/cover;
}

/* UPSA CALENDAR */
div#UPSACALENDAR.card {
    background: url(../assets/projects/upsaCalendar.png) center center/cover;
}


/* tech */
/* JS */
div#JS.card {
    background: url(../assets/tech/js.png) center center/cover;
}

/* PHP */
div#PHP.card {
    background: url(../assets/tech/php.png) center center/cover;
}

/* PY */
div#PY.card {
    background: url(../assets/tech/py.png) center center/cover;
}

/* WL */
div#WL.card {
    background: url(../assets/tech/wl.png) center center/cover;
}

/* JAVA */
div#JAVA.card {
    background: url(../assets/tech/java.png) center center/cover;
}

/* CS */
div#CS.card {
    background: url(../assets/tech/cs.png) center center/cover;
}


/*comp*/
/* FORMATIONS */
div#FORMATIONS.card {
    background: url(../assets/trans/formations.png) center center/cover;
}

/* AGILE - SCRUM */
div#AS.card {
    background: url(../assets/trans/agile.png) center center/cover;
}

/* VEILLE TECHNOLOGIQUE */
div#VT.card {
    background: url(../assets/trans/vt.png) center center/cover;
}

/* POLYVALENCE */
div#POLY.card {
    background: url(../assets/trans/polyvalence.png) center center/cover;
}




.link {
    text-decoration:underline;
    color: dimgrey;
}

/* Media Queries */
@media (max-width: 768px) {
  .header-container {
    margin-top: 7rem;
    text-align: center;
  }

  .content-text h2 {
    font-size: 2.5rem;
  }
}

/* Animation Bonjour*/

.first-part {
    animation: showup 7s forwards;
    text-align: center;
}

.second-part-div {
    height: 0px;
    animation: reveal 7s forwards;
}

.second-part {
    overflow: hidden;
    animation: slidein 7s forwards;
}
@keyframes showup {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }
}


@keyframes slidein {
    0% {
        margin-top: -800px;
    }

    20% {
        margin-top: -800px;
    }

    35% {
        margin-top: 0px;
    }

    100% {
        margin-top: 0px;
    }
}

@keyframes reveal {
    0% {
        opacity: 0;
        height: 0px;
    }

    20% {
        opacity: 0;
        height: 0px;
    }

    30% {
        opacity: 0;
        height: 56px;
    }

    50% {
        opacity: 1;
        height: 56px;
    }

    100% {
        opacity: 1;
        height: 56px;
    }
}

@keyframes reduce-margin-main-text {
    0% {
        margin-bottom: 30px;
    }

    30% {
        margin-bottom: 30px;
    }

    35% {
        margin-bottom: 0px;
    }

    100% {
        margin-bottom: 0px;
    }
}

.top {
    margin-top: 150vh;
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    box-shadow: 0 0 14px -5px var(--bg-secondary);
    border-radius: 100%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    background-color: var(--bg-primary) !important;
}

